<launch>
	<node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen">
        <remap from="/input_point_cloud" to="/lslidar_point_cloud" />
        <remap from="/output_point_cloud" to="/lslidar_point_cloud_deskewed" />
	</node>

	<node pkg="nodelet" type="nodelet" name="pointcloud_motion_deskew" args="load PointCloud2Deskew nodelet_manager" output="screen"/>
</launch>
